<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>CGPA FINDER</title>
  </head>
  <body style="background-color: black;">
    

  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    

    <form method="POST" action="/ktucal/">
        {% csrf_token %}
        <div class="row" style="gap:50px; color: white; font-style: italic; font-size: larger;">
          <h1>KTU CGPA FINDER</h1>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
          </div> 
          <div class="form-group col-md-6">
            <label for="inputPassword4">Roll No</label>
            <input type="text" class="form-control" id="rollno" placeholder="rollno" name="rollno">
          </div>
        </div>
        <div class="row">
         <div class="form-group col-md-3">
           <label for="inputAddress">Semester 1</label>
           <input type="number" class="form-control" id="s1" name="s1" step="any">
         </div>
         <div class="form-group col-md-3">
           <label for="inputAddress2">Semester 2</label>
           <input type="number" class="form-control" iid="s2" name="s2" step="any">
         </div>
         <div class="form-group col-md-3">
            <label for="inputAddress2">Semester 3</label>
            <input type="number" class="form-control" id="s3" name="s3" step="any">
          </div>
          <div class="form-group col-md-3">
            <label for="inputAddress2">Semester 4</label>
            <input type="number" class="form-control" id="s4" name="s4" step="any">
          </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
              <label for="inputAddress">Semester 5</label>
              <input type="number" class="form-control" id="s5" name="s5" step="any">
            </div>
            <div class="form-group col-md-3">
              <label for="inputAddress2">Semester 6</label>
              <input type="number" class="form-control" id="s6" name="s6" step="any">
            </div>
            <div class="form-group col-md-3">
               <label for="inputAddress2">Semester 7</label>
               <input type="number" class="form-control" id="s7" name="s7" step="any">
             </div>
             <div class="form-group col-md-3">
               <label for="inputAddress2">Semester 8</label>
               <input type="number" class="form-control" id="s8" name="s8" step="any">
             </div>
           </div>
        
        <button type="submit" class="btn btn-primary">Enter to Database</button>
      </div>
      </form>
   
    </div>
    


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
